@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;

  /* Color styles are defined at the root
  so they can be updated by users in the UI */

  /* Default Theme Colors */
  --primary-base: #ffffff;
  --secondary-base: #ffffff;
  --text-primary-base: #000;
  --text-secondary-base: #000;
}

@theme inline {
  /* Fonts */
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);

  /* Base Colors */
  --color-text-primary: var(--text-primary-base);
  --color-text-secondary: var(--text-secondary-base);
  --color-primary: var(--primary-base);
  --color-secondary: var(--secondary-base);

  /* Scale */
  --color-primary-50: var(--primary-50);
  --color-primary-100: var(--primary-100);
  --color-primary-200: var(--primary-200);
  --color-primary-300: var(--primary-300);
  --color-primary-400: var(--primary-400);
  --color-primary-500: var(--primary-500);
  --color-primary-600: var(--primary-600);
  --color-primary-700: var(--primary-700);
  --color-primary-800: var(--primary-800);
  --color-primary-900: var(--primary-900);

  --color-secondary-50: var(--secondary-50);
  --color-secondary-100: var(--secondary-100);
  --color-secondary-200: var(--secondary-200);
  --color-secondary-300: var(--secondary-300);
  --color-secondary-400: var(--secondary-400);
  --color-secondary-500: var(--secondary-500);
  --color-secondary-600: var(--secondary-600);
  --color-secondary-700: var(--secondary-700);
  --color-secondary-800: var(--secondary-800);
  --color-secondary-900: var(--secondary-900);
}


body {
  background: var(--color-primary);
  color: var(--color-text);
  font-family: Arial, Helvetica, sans-serif;
}
